.header{
    margin: rem(20px) rem(0px) rem(50px) rem(0px);
    height: rem(200px);
    border-bottom: 2px solid rgb(80, 80, 80);
    padding: rem(0px) rem(0px) rem(210px) rem(0px);
}

.header__list{
    display: flex;
    height: rem(200px);
}

.header__item-1{
    background-color: rgb(80, 80, 80);
    width: rem(150px);
    margin: rem(0px) rem(50px) rem(0px) rem(0px);
}

.header__item-2{
    background-color: rgb(80, 80, 80);
    width: rem(400px);
}

.header__item-3{
    background-color: rgb(80, 80, 80);
    width: rem(500px);
    margin: rem(0px) rem(0px) rem(0px) rem(50px);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.header__item{
    color: white;
    padding: rem(10px) rem(15px) rem(0px) rem(00px);
}

.header__phone{
    text-decoration: none;
}